DB_NAME='dclab_bedrock'
DB_USER='root'
DB_PASSWORD=''

# Optionally, you can use a data source name (DSN)
# When using a DSN, you can remove the DB_NAME, DB_USER, DB_PASSWORD, and DB_HOST variables
# DATABASE_URL='mysql://database_user:database_password@database_host:database_port/database_name'

# Optional variables
# DB_HOST='localhost'
# DB_PREFIX='wp_'

WP_ENV='development'
WP_HOME='http://localhost:8000'
WP_SITEURL="${WP_HOME}/wp"
WP_DEBUG_LOG=/path/to/debug.log

# Generate your keys here: https://roots.io/salts.html
AUTH_KEY='j6&+eiH{s{O^c%>[{v@a::JG%#;]V.zl8rc#[?|${o;/<Bs%+vP2:M[AvZ).<T5@'
SECURE_AUTH_KEY='7v2D|X>.R{SK<7+|?#rGp2CVF(d]VqJ,/V?[Xh!6W%=K36=pfe#(9r0,ewL}lafW'
LOGGED_IN_KEY='7-J,FX2,2L@)TMn[!]SgVNXkGK_aOLq<.Ef4,`r&=%|>o;axI+#QO^t{GkECV=(C'
NONCE_KEY='5i:10]00/lQRM:hwjamY|IDSU]1XqZ;)|s0/Ps3,tsr+*ntY+>k7np+mmgG_l`^R'
AUTH_SALT='yfXup&_ki6!*}abXk3t#A5$JMEY/Ic^++n]jFNb8zXh6UD{]mZM`adFiE#yC!z*)'
SECURE_AUTH_SALT='mKSV_Pj[Bd/2Sj/wjZ;z2Qk5)c3)@6&z;|y7f+sw.`F/k1pq1gLzDHAj<p#3mR1h'
LOGGED_IN_SALT='g3>DUhUAuiSt^dYowz8=6+|=-]0_fS(#egGu+99-T4Zsp`If3o|4#(.gF3vP<b,/'
NONCE_SALT=']]!y^gH?[v!,&uBeO[e#q5y`UVu&J}?.hHY:eZHjn*)!s}lxvnirI^C>@<b3r[S9'
