/* Allez bon CSS Izza ^^ */
main{
  background-color: #00263e !important;
}

h1{
  color: black;
  text-align: center !important;
  font-size: 1.5rem !important;
}

.ok{
  margin-bottom: 100px !important;
  margin-top: 50px;
}


